.settings {
  padding: 20px;
  overflow: auto;
}

.avatar {
  cursor: pointer;
}

<<<<<<< HEAD
.password-input-container {
  max-width: 50%;
=======
.edit-prompt-modal {
>>>>>>> e0053d57f7d76248fd68d9f67ddbf1f64f431ea6
  display: flex;
  flex-direction: column;

  .edit-prompt-title {
    max-width: unset;
    margin-bottom: 20px;
    text-align: left;
  }
  .edit-prompt-content {
    max-width: unset;
  }
}

.user-prompt-modal {
  min-height: 40vh;

  .user-prompt-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--gray);
  }

  .user-prompt-list {
    border: var(--border-in-light);
    border-radius: 10px;

    .user-prompt-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &:not(:last-child) {
        border-bottom: var(--border-in-light);
      }

      .user-prompt-header {
        max-width: calc(100% - 100px);

        .user-prompt-title {
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
        }
        .user-prompt-content {
          font-size: 12px;
        }
      }

      .user-prompt-buttons {
        display: flex;
        align-items: center;

        .user-prompt-button {
          height: 100%;

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .user-prompt-actions {
  }

  .password-input {
    min-width: 80%;
  }
}

.user-prompt-modal {
  min-height: 40vh;

  .user-prompt-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--gray);
  }

  .user-prompt-list {
    padding: 10px 0;

    .user-prompt-item {
      margin-bottom: 10px;
      widows: 100%;

      .user-prompt-header {
        display: flex;
        widows: 100%;
        margin-bottom: 5px;

        .user-prompt-title {
          flex-grow: 1;
          max-width: 100%;
          margin-right: 5px;
          padding: 5px;
          font-size: 12px;
          text-align: left;
        }

        .user-prompt-buttons {
          display: flex;
          align-items: center;

          .user-prompt-button {
            height: 100%;

            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }

      .user-prompt-content {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        margin-right: 10px;
        font-size: 12px;
        flex-grow: 1;
      }
    }
  }

  .user-prompt-actions {
  }
}
